<section class="_landing _1">
	<div class="_container _3">
		<div class="row no-m">
			<div class="col-xl-7 _1">
				<div class="_info">
					<h1 class="_title _1">Garantiza el futuro educativo de tus hijos hoy mismo</h1>
					<h4 class="_subtitle _1">Invierte en su educación desde ahora y asegura su camino al éxito.</h4>
					<p class="_text _1">Anticípate al mañana y garantiza su educación universitaria. Hemos diseñado una póliza que te permite anticiparte al mañana y mediante una cómoda y flexible inversión, podrás asegurar desde hoy la educación universitaria de tus hijos, de acuerdo con tus posibilidades presentes.</p>
					<figure class="_media">
						<img src="assets/imgs/pic1.png">
					</figure>
				</div>
			</div>
			<div class="col-xl-5 _2">
				<div class="_card">
					<form class="_form">
						<h2 class="_title _2">Déjanos tus datos para una cotización personalizada</h2>
						<div class="form-floating mb-3">
						  <input type="text" class="form-control" id="floatingInput" placeholder="Nombre Completo">
						  <label for="floatingInput">Nombre Completo</label>
						</div>
						<div class="form-floating mb-3">
						  <input type="number" class="form-control" id="floatingInput" placeholder="Numero de celular">
						  <label for="floatingInput">Numero de celular</label>
						</div>
						<div class="form-floating mb-3">
						  <input type="text" class="form-control" id="floatingInput" placeholder="Ocupación">
						  <label for="floatingInput">Ocupación</label>
						</div>
						<div class="form-floating mb-3">
						  <input type="text" class="form-control" id="floatingInput" placeholder="Ciudad">
						  <label for="floatingInput">Ciudad</label>
						</div>
						<div class="_actions">
							<button type="submit" class="_btn _1"><span>Cotiza hoy mismo</span></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<figure class="_detail">
		<img src="assets/imgs/bg_Grandient_effect.png">
	</figure>
</section>
<section class="_landing _2">
	<div class="_container _3">
		<div class="row no-m">
			<div class="col-12">
				<h2 class="_title">Coberturas de tu <br>Seguro Educativo</h2>
			</div>
			<div class="masonry">
		    <div class="masonry-item cell cell-1">
		      <div class="_in">
		      	<img class="_icon" src="/assets/imgs/positive-staditics.png">
		      	<h3 class="_title">Alta Rentabilidad</h3>
		      	<p>Contratando el seguro educativo le garantizamos una alta rentabilidad.</p>
		      </div>
		    </div>
		    <div class="masonry-item cell cell-2">
		      <div class="_in">
		      	<img class="_icon" src="/assets/imgs/cancer.png">
		      	<h3 class="_title">Fallecimiento por cualquier motivo</h3>
		      	<p>Indemnización al beneficiario en caso de fallecimiento del asegurado durante la vigencia del contrato.</p>
		      </div>
		    </div>
		    <div class="masonry-item cell cell-3">
		      <div class="_in">
		      	<img class="_icon" src="/assets/imgs/hat.png">
		      	<h3 class="_title">Renta educativa universitaria</h3>
		      	<p>Esta póliza te asegura el pago de la carrera universitaria que elija el beneficiario, sin tener en cuenta el lugar o la fecha en que se curse.</p>
		      </div>
		    </div>
		    <div class="masonry-item cell cell-4">
		      <div class="_in">
		      	<img class="_icon" src="/assets/imgs/coins.png">
		      	<h3 class="_title">Valores de Rescate</h3>
		      	<p>Con esta póliza podrás beneficiarte de importantes valores de rescate y contarás con ciertos valores asegurados garantizados aunque el valor futuro de la matrícula sea menor e incluso cuando el beneficiario estudie en el extranjero.</p>
		      </div>
		    </div>
		    <div class="masonry-item cell cell-5">
		      <div class="_in">
		      	<img class="_icon" src="/assets/imgs/doctors.png">
		      	<h3 class="_title">Invalidez total y permanente</h3>
		      	<p>Indemnización en caso de incapacidad total y permanente del asegurado durante la vigencia del contrato.</p>
		      </div>
		    </div>
			</div>
		</div>
	</div>
</section>
<section class="_landing _3">
	<div class="_container _4">
		<div class="_inside">
			<div class="_head">
				<h3 class="_title">Historias de Éxito</h3>
			</div>
			<aside class="splide splide_1" aria-label="Splide Carousel Example">
			  <div class="splide__track">
			    <ul class="splide__list">
			      <li class="splide__slide">
			        <div class="_insplide">
			        	<div class="row no-m">
			        		<div class="col-lg-6 _1">
			        			<div class="_in">
			        				<h4 class="_name">Jhonatan Gómez García</h4>
			        				<h6 class="_age">23 años - Bogotá</h6>
			        				<h4 class="_position">Música y Narrativas Digitales</h4>
			        				<h6 class="_university">Universidad de los Andes</h6>
			        				<br>
			        				<p class="_description">Durante la pandemia, el seguro educativo de Mapfre fue crucial para que mi hijo continuara sus estudios y lograra graduarse. Sin este apoyo, su educación habría sido imposible. Hoy, verlo exitoso en su carrera profesional me llena de orgullo. Este seguro es una inversión que vale la pena.</p>
			        			</div>
			        		</div>
			        		<div class="col-lg-6 _2">
			        			<figure class="_media">
			        				<img class="_pic" src="assets/imgs/pic2.png">
			        				<div class="_number">
			        					<span>1/3</span>
			        				</div>
			        			</figure>
			        		</div>
			        	</div>
			        </div>
			      </li>
			      <li class="splide__slide">
			        <div class="_insplide">
			        	<div class="row no-m">
			        		<div class="col-lg-6 _1">
			        			<div class="_in">
			        				<h4 class="_name">Dylan Zambrano</h4>
			        				<h6 class="_age">23 años - Bogotá</h6>
			        				<h4 class="_position">Ingenería Electrónica</h4>
			        				<h6 class="_university">Universidad de los Andes</h6>
			        				<br>
			        				<p class="_description">El seguro educativo para  mi  hijo  Dylan  ha  sido  la  mejor  decisión  económica de mi  familia; ahorrando desde  que  estaba   pequeño   para  su  futuro  y    hoy  verlo   graduado  como  Ingeniero Electrónico de  la  Universidad  de  los  Andes . El  seguro  siempre  cubrió  oportunamente  el  pago   de  la  matricula  directo  a  la  universidad  sin intermediarios, ni  retrasos  cada   semestre.</p>
			        			</div>
			        		</div>
			        		<div class="col-lg-6 _2">
			        			<figure class="_media">
			        				<img class="_pic" src="assets/imgs/pic4.png">
			        				<div class="_number">
			        					<span>2/3</span>
			        				</div>
			        			</figure>
			        		</div>
			        	</div>
			        </div>
			      </li>
			      <li class="splide__slide">
			        <div class="_insplide">
			        	<div class="row no-m">
			        		<div class="col-lg-6 _1">
			        			<div class="_in">
			        				<h4 class="_name">Andrea Carolina Castellanos</h4>
			        				<h6 class="_age">20 años - Bogotá</h6>
			        				<h4 class="_position">Ingenería Química e Ingenería Industrial</h4>
			        				<h6 class="_university">Universidad de los Andes</h6>
			        				<br>
			        				<p class="_description">El seguro educativo de Mapfre nos permitió tener los recursos disponibles para el pago de la matrícula de mi hija en la Universidad de los Andes. <br>Recomiendo el seguro de Mapfre porque los recursos están garantizados.</p>
			        			</div>
			        		</div>
			        		<div class="col-lg-6 _2">
			        			<figure class="_media">
			        				<img class="_pic" src="assets/imgs/pic3.png">
			        				<div class="_number">
			        					<span>3/3</span>
			        				</div>
			        			</figure>
			        		</div>
			        	</div>
			        </div>
			      </li>
			    </ul>
			  </div>
			</aside>

		</div>
	</div>
</section>
<section class="_landing _4">
	<div class="_container _3">
		<div class="row no-m">
			<div class="col-lg-6 _1">
				<div class="_in">
					<div class="_info">
						<h2 class="_title">Nuestros Logros en Números</h2>
						<p>Entendemos que el futuro educativo de tus hijos es una de tus mayores preocupaciones. Con esta póliza podrás asegurar la educación superior de tus hijos. Conoce algunos de nuestros logros con el seguro educativo.</p>
					</div>
					<figure class="_pic _1">
						<div class="_data">
							<h3 class="_number">+2000</h3>
							<h3 class="_text">Estudiantes <br>en Colombia</h3>
						</div>
						<img src="assets/imgs/pic6.png">
					</figure>
				</div>
			</div>
			<div class="col-lg-6 _2">
				<div class="_in">
					<figure class="_pic _1">
						<div class="_data">
							<h3 class="_number">+100</h3>
							<h3 class="_text">Estudiantes <br>en el Exterior</h3>
						</div>
						<img src="assets/imgs/pic7.png">
					</figure>
					<div class="_graphs">

					  <div class="_card" >
					    <div class="_incard">
					      <div class="progress-circle">
					      	<figure>
						        <div role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100" style="--value:29">
							        <img src="assets/imgs/andes.png" alt="logo">
						        </div>
					      	</figure>
					      </div>
					    </div>
					  </div>
					  <div class="_card" >
					    <div class="_incard">
					      <div class="progress-circle">
					      	<figure>
						        <div role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="--value:15">
							        <img src="assets/imgs/javeriana.png" alt="logo">
						        </div>
					      	</figure>
					      </div>
					    </div>
					  </div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="_landing _5">
	<aside class="_1">
		<div class="_container _3">
			<div class="row no-m">
				<div class="col-lg-6 _1">
					<h3 class="_title">Cómo Funciona</h3>
					<div class="accordion _accordion _1" id="accordionComoFunciona">
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
					        <span class="_text">¿Cómo sacar el seguro universitario?</span>
					        <span class="_icon"><i class="bi bi-plus-circle"></i><i class="bi bi-dash-circle"></i></span>
					      </button>
					    </h2>
					    <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionComoFunciona">
					      <div class="accordion-body">
					        <p>Es fácil y rápido. Completa el formulario de solicitud y uno de nuestros asesores te contactará para brindarte el mejor plan. Así, asegurarás el futuro educativo de tus hijos de manera rápida y segura.</p>
					      </div>
					    </div>
					  </div>
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
					        <span class="_text">Condiciones Generales</span>
					        <span class="_icon"><i class="bi bi-plus-circle"></i><i class="bi bi-dash-circle"></i></span>
					      </button>
					    </h2>
					    <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionComoFunciona">
					      <div class="accordion-body">
					        <p>Las condiciones generales del seguro educativo de MAPFRE establecen los requisitos para que los asegurados puedan acceder a todas las garantías. Este seguro cubre los costos de la educación superior de los beneficiarios.</p>
					        <ul>
					        	<li>Fallecimiento: Edad mínima del asegurado 18 años, máxima 70 años.</li>
					        	<li>Invalidez total y permanente: Edad mínima de ingreso 18 años, máxima 60 años.</li>
					        	<li>Estudios: El beneficiario puede estudiar en Colombia o en el extranjero y cambiar de carrera o institución según los parámetros autorizados.</li>
					        	<li>Rescate: Disponible después del primer año de vigencia, con las primas al día.</li>
					        </ul>
					      </div>
					    </div>
					  </div>
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
					        <span class="_text">Requisitos y Restricciones</span>
					        <span class="_icon"><i class="bi bi-plus-circle"></i><i class="bi bi-dash-circle"></i></span>
					      </button>
					    </h2>
					    <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionComoFunciona">
					      <div class="accordion-body">
					        <p>El seguro educativo MAPFRE establece requisitos y restricciones que debes conocer:</p>
					        <ul>
					        	<li>Renta educativa: No incluye pagos de materias intersemestrales ni cursos nivelatorios.</li>
					        	<li>Fallecimiento: El suicidio está excluido durante los dos primeros años de la póliza.</li>
					        	<li>Invalidez total y permanente: La indemnización excluye intentos de suicidio, deportes de alto riesgo, actos delictivos, actividades militares, infracciones de normas y estados de intoxicación por alcohol o drogas.</li>
					        	<li>Indemnización por invalidez: Una vez pagada, la compañía no tendrá responsabilidad adicional en caso de fallecimiento del asegurado.</li>
					        </ul>
					      </div>
					    </div>
					  </div>
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
					        <span class="_text">Recomendaciones de Uso</span>
					        <span class="_icon"><i class="bi bi-plus-circle"></i><i class="bi bi-dash-circle"></i></span>
					      </button>
					    </h2>
					    <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionComoFunciona">
					      <div class="accordion-body">
					        <p>Para aprovechar al máximo las garantías del seguro educativo de  MAPFRE, es importante tener en cuenta lo siguiente:</p>
					        <ul>
					        	<li>Antes de contratar:Lee todas las disposiciones especiales y cláusulas de cada cobertura.</li>
					        	<li>Después de contratar:Conoce las cláusulas, limitaciones y requisitos de la póliza para actuar adecuadamente.</li>
					        	<li>El pago de la matrícula se realizará cuando el beneficiario inicie sus estudios universitarios.</li>
					        	<li>El pago de la renta por fallecimiento e invalidez total se efectuará dentro del mes siguiente al hecho causante, y los abonos siguientes cada 6 meses.</li>
					        	<li>Designa un tutor que represente los intereses del beneficiario si el titular fallece o está ausente.</li>
					        </ul>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="col-lg-6 _2">
					<div class="_card">
						<form class="_form">
							<h2 class="_title _2">Déjanos tus datos para una cotización personalizada</h2>
							<div class="form-floating mb-3">
							  <input type="text" class="form-control" id="floatingInput" placeholder="Nombre Completo">
							  <label for="floatingInput">Nombre Completo</label>
							</div>
							<div class="form-floating mb-3">
							  <input type="number" class="form-control" id="floatingInput" placeholder="Numero de celular">
							  <label for="floatingInput">Numero de celular</label>
							</div>
							<div class="form-floating mb-3">
							  <input type="text" class="form-control" id="floatingInput" placeholder="Ocupación">
							  <label for="floatingInput">Ocupación</label>
							</div>
							<div class="form-floating mb-3">
							  <input type="text" class="form-control" id="floatingInput" placeholder="Ciudad">
							  <label for="floatingInput">Ciudad</label>
							</div>
							<div class="_actions">
								<button type="submit" class="_btn _1"><span>Cotiza hoy mismo</span></button>
							</div>
						</form>
					</div>
				</div>	
			</div>
		</div>
	</aside>
	<aside class="_2">
		<div class="_container _2">
			<div class="_cta">
				<div class="_info">
					<h2>Conoce más sobre la póliza</h2>
				</div>
				<div class="_action">
					<a class="_btn_outline _1" href="assets/documents/doc1.pdf" target="_blank">
						<span>Ver contenido</span>
					</a>
				</div>
			</div>
		</div>
	</aside>
	<aside class="_3">
		<div class="_container _4">
			<h2 class="_title">Preguntas Frecuentes</h2>
			<div class="accordion _accordion _1" id="accordionFAQ">
			  <div class="accordion-item">
			    <h2 class="accordion-header">
			      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_faq_1" aria-expanded="true" aria-controls="collapse_faq_1">
			        <span class="_icon"><i class="bi bi-plus-circle"></i><i class="bi bi-dash-circle"></i></span>
			        <span class="_text">¿Qué es un seguro educativo o de estudios?</span>
			      </button>
			    </h2>
			    <div id="collapse_faq_1" class="accordion-collapse collapse show" data-bs-parent="#accordionFAQ">
			      <div class="accordion-body">
			        <p>Es un plan de pagos diseñado para acumular un capital que cubra los gastos de la educación superior de tus hijos o beneficiarios.</p>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_faq_2" aria-expanded="false" aria-controls="collapse_faq_2">
			        <span class="_icon"><i class="bi bi-plus-circle"></i><i class="bi bi-dash-circle"></i></span>
			        <span class="_text">¿Qué cubre un seguro educativo?</span>
			      </button>
			    </h2>
			    <div id="collapse_faq_2" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
			      <div class="accordion-body">
			        <p>Un seguro educativo cubre los gastos relacionados con la educación superior, tales como matrícula, pensión y otros costos asociados. Además, incluye beneficios adicionales como:</p>
			        <br>
			        <ul>
			        	<li>Invalidez total y permanente</li>
			        	<li>Fallecimiento</li>
			        	<li>Valores de rescate</li>
			        	<li>Flexibilidad de estudios</li>
			        </ul>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_faq_3" aria-expanded="false" aria-controls="collapse_faq_3">
			        <span class="_icon"><i class="bi bi-plus-circle"></i><i class="bi bi-dash-circle"></i></span>
			        <span class="_text">¿Cuánto cuesta un seguro educativo en Colombia?</span>
			      </button>
			    </h2>
			    <div id="collapse_faq_3" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
			      <div class="accordion-body">
			        <p>El costo de un seguro educativo en Colombia depende de factores como la edad del asegurado, la suma asegurada, el tiempo de cobertura y las condiciones específicas del plan. Es recomendable solicitar una cotización personalizada para obtener un precio exacto.</p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</aside>
	<figure class="_circles _1">
		<img src="assets/imgs/bg_Grandient_effect.png">
	</figure>
</section>